.App {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.title{
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  color: #ffff;
}
.subtitle{
  text-align: center;
}
.background-app{
  background-color: black !important;
  width: 100%;
  height: 100%;
}
p{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ant-card{
  background-color: transparent !important;
  border: transparent !important;
}
.ant-list-item-meta-description{
  color: rgba(255, 255, 255, 0.692) !important;
}
.cards-home{
  width: 50% !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 768px) {
  .cards-home {
    width: 100% !important;
  }
}

h2,h3,h4{
  color: rgba(255, 255, 255, 0.582) !important;
}
.ant-list-split .ant-list-item{
  border-bottom: transparent !important;
}
.ant-list-item-meta-description{
  color: rgba(255, 255, 255, 0.637);
}
a{
  color: #ffff !important;
  transition: background-color .5s !important;
}
.skulls{
  display: none;
}

a:hover{

  background-color: black;
  background-image: url('/src/assets/img/rainbow-static.webp');
} 

a:hover + .skulls{
  display: block;
}
.App-header{
  color: white;
}
.App-footer{
  height: 80px;
  width: 100%;
}
.video-background{
  width: 100%;
  position: fixed;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}