
@font-face {
  font-family: 'VCR OSD';
  src: url('./assets/font/VCR_OSD_MONO_1.001.ttf');
}
body { 
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: 'VCR OSD';
  text-transform: uppercase;
  text-shadow: 0.6vmin 0.4vmin 0 #04d8e72c, -0.6vmin -0.4vmin 0 #ff0d003f;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
